@import 'colors';
@import 'buttons';
@import 'hamburger-menu';
@import 'nav';
@import 'mobile-menu';
@import 'main';
@import 'footer';
@import 'social-icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.16px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 3.125rem;
  letter-spacing: 2px;
  font-weight: 600;
}

hr {
  border: none;
  height: 2px;
  background-color: $light-gray;
  margin: 2rem 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  vertical-align: middle;
}

// utils
.icon {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.75rem;
  }
}
